<!DOCTYPE html>
<html>
    <%- include('partials/head') %>
<body>
    <%- include('partials/nav') %>
    <h1>Info on the searched video</h1>
    <p>Title: <%= video.title %></p>
    <p>Author: <%= video.author %></p>
    <p>Length: <%= video.length %> seconds</p>
</body>
</html>
